@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --background: #FFF5EA;
  --blue: #798AB7;
  --brown: #5D534A;
  --pink: #F7DAD9;
}

body {
  background-color: var(--background);
}

.logo {
  width: 30%;
  padding: 1rem;
  margin: auto;
  align-self: center;
}

p {
  text-align: center;
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: larger;
  color: #798AB7;

}
